
    body{margin:0px;padding:0px}
    #title {font-size:24px;font-weight: bolder;}
    #header {background-color: lightblue;height:100px;
         padding-left:50px}
 #mainarea {display:flex; }
 #sidebar {
    padding:50px;
    width:200px;background-color: lightseagreen;
}
#navigation {padding-top:25px}
#content {padding:50px}
#footer {text-align: center;}
